{% extends 'base.html' %}

{% block container %}

    <h1 class="display-5 mt-4">Летим {{ departures[selected_departure].text }}</h1>
    <p class="mb-4">
      Найдено {{ tours|length }} туров, от
      {{ (tours|min(attribute="price")).price }}
      до {{ (tours|max(attribute="price")).price }} и
      от {{ (tours|min(attribute="nights")).nights }} ночей
      до {{ (tours|max(attribute="nights")).nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {%- for tour in tours %}
        <div class="col-4">
          <div class="card mb-4">
            <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
            <div class="card-body">
              <h2 class="h5 card-title"> {{ tour.title }} </h2>
              <p class="card-text">{{ tour.description|truncate(50) }}</p>
              <a href="{{ tour.link }}" class="btn btn-sm btn-primary">Подробнее</a>
            </div>
          </div>
        </div>
      {%- endfor %}
    </div>

{% endblock %}